In [2]:
from scipy.stats import norm
import math
from tsmom_model import *

In [13]:
cleansed=load_amihud_markets_price()

/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model.py:160: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).last()
  data=pd.read_csv('./Price.csv',index_col=0,parse_dates=['Date']).resample(rule='d',how='last')
/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model.py:162: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).last()
  qd=pd.read_csv('./liquid_contracts.csv',index_col=0,parse_dates=['Date']).resample(rule='d',how='last')

In [18]:
price=cleansed.resample(rule='m',how='last')

/Users/mrefermat/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).last()
  """Entry point for launching an IPython kernel.

In [19]:
rtns=price.pct_change()

In [23]:
x=pd.DataFrame.rolling(rtns,12).std()

In [33]:
vol=(1/x)

In [39]:
(vol*(1/vol.sum(axis=1))).tail()

/Users/mrefermat/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/base.py:3033: RuntimeWarning: Cannot compare type 'Timestamp' with type 'str', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

,1977-01-31 00:00:00,1977-02-28 00:00:00,1977-03-31 00:00:00,1977-04-30 00:00:00,1977-05-31 00:00:00,1977-06-30 00:00:00,1977-07-31 00:00:00,1977-08-31 00:00:00,1977-09-30 00:00:00,1977-10-31 00:00:00,...,Rotterdam Coal,Milling Wheat,AUD,CHF,GBP,NZD,CAD,JPY,MXN,EUR
Date,,,,,,,,,,,,,,,,,,,,,
2016-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# One over volatility weighting

In [92]:
vol=1/(x['2015'].dropna(axis=1))
a=(vol).sum(axis=1)
w=((vol).T.div(a)).T

In [98]:
w.ix[5].sort_values().head()

TGE-SOYBEANS          0.000103
NORDPOOL-ENO          0.000113
CBT-SOYABEAN MEAL     0.000118
CFE-VIX INDEX         0.000121
Ethanol (Chicago2)    0.000131
Name: 2015-06-30 00:00:00, dtype: float64

In [99]:
w.ix[5].sort_values().tail()

SFE-30 DAY INTERBANK CASH     0.021463
LIFFE-3MTH STERLING           0.163170
TIFFE-3 MTH EUROYEN TIBOR     0.195771
Federal Funds                 0.205122
CME-3 MTH EURODOLLAR COMP.    0.274055
Name: 2015-06-30 00:00:00, dtype: float64